<!-- Set variable for csv -->
{% set csv_egypt_tuber_bulbstubers = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact
Aphis spiraecola,4,2,8,4,2,8
Bagrada hilaris,3,3,9,3,3,9
Beet curly top virus,5,4,20,5,4,20
Beet necrotic yellow vein benyvirus,,3,0,,3,0
Chrysodeixis chalcites,0,3,0,0,3,0
Globodera rostochiensis Non-European Strains,5,4,20,5,4,20
Helicotylenchus dihystera,5,3,15,5,3,15
Helicoverpa armigera,5,2,10,5,2,10
Leveillula taurica,,3,0,,3,0
Liriomyza sativae,5,5,25,3,3,9
Liriomyza trifolii,5,3,15,3,3,9
Meloidogyne arenaria,5,3,15,5,3,15
Meloidogyne hapla,,,0,,,0
Meloidogyne javanica,5,3,15,5,3,15
Naupactus cervinus,5,2,10,5,2,10
Ostrinia nubilalis,,3,0,,3,0
Paratrichodorus minor,5,2,10,4,2,8
Phenacoccus parvus,3,2,6,3,2,6
Phenacoccus solani,5,3,15,4,3,12
Phenacoccus solenopsis,5,3,15,4,3,12
Phytophthora citrophthora,,,0,,,0
Phytophthora infestans,,5,0,,5,0
Potato spindle tuber viroid,5,3,15,3,3,9
Potato virus M (non-European strains),5,3,15,5,3,15
Potato virus S (non-European strains),5,3,15,5,3,15
Potato virus X (non-European strains),5,2,10,5,2,10
Potato virus Y (non-European strains),5,3,15,5,3,15
Pratylenchus brachyurus,2,1,2,2,1,2
Pratylenchus scribneri,4,2,8,4,2,8
Ralstonia solanacearum,,5,0,,3,0
Rhopalosiphum rufiabdominale,3,3,9,3,3,9
Spodoptera littoralis,5,3,15,4,3,12
Spongospora subterranea,,,0,,,0
Tomato chlorosis virus,5,3,15,4,3,12
Tomato ringspot virus,,2,0,,2,0
Tomato spotted wilt virus,,3,0,,3,0
Tomato yellow leaf curl virus,5,4,20,2,4,8
Trialeurodes ricini,4,3,12,4,3,12
Tuta absoluta,0,3,0,0,3,0" %}

{% set csv_southAfrica_grapes_fruitAndVegetables = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact
Agrobacterium tumefaciens,,,0,,,0
Aleurocanthus spiniferus,3,2,6,3,2,6
Aleurocanthus woglumi,0,0,0,0,0,0
Aonidiella orientalis,4,2,8,4,2,8
Arabis mosaic virus,,3,0,,3,0
Armillaria mellea,,,0,,,0
Bactrocera dorsalis species complex,0,0,0,0,0,0
Calepitrimerus vitis,4,2,8,4,2,8
Ceratitis rosa,0,0,0,0,0,0
Daktulosphaira vitifoliae,,4,0,,4,0
Frankliniella occidentalis,,4,0,,3,0
Grapevine Syrah virus 1,5,1,5,5,1,5
Grapevine fanleaf virus,,2,0,,2,0
Helicotylenchus dihystera,5,3,15,5,3,15
Heteronychus arator,4,3,12,4,3,12
Hop stunt viroid,5,4,20,4,4,16
Longidorus elongatus,,,0,,,0
Margarodes prieskaensis,3,4,12,3,4,12
Margarodes vredendalensis,3,4,12,3,4,12
Meloidogyne arenaria,5,3,15,5,3,15
Meloidogyne ethiopica,5,3,15,5,3,15
Meloidogyne hapla,,,0,,,0
Parasaissetia nigra,,3,0,,3,0
Phaeoacremonium viticola,5,2,10,5,2,10
Phenacoccus solani,5,3,15,4,3,12
Phlyctinus callosus,5,3,15,5,3,15
Pseudaonidia trilobitiformis,3,2,6,3,2,6
Raspberry bushy dwarf virus,,,0,,,0
Scutellonema brachyurus,5,2,10,5,2,10
Spodoptera littoralis,5,3,15,4,3,12
Thaumatotibia leucotreta,3,3,9,3,3,9
Tylenchulus semipenetrans,2,3,6,2,3,6
Xiphinema diversicaudatum,,3,0,,3,0
Xiphinema index,5,3,15,5,3,15
Xiphinema insigne,3,2,6,3,2,6
Xiphinema pachtaicum,5,3,15,5,3,15
Xylophilus ampelinus,2,4,8,2,4,8
Zaprionus indianus,4,1,4,4,1,4" %}

{% set csv_france_pines = " " %}

{% set csv_india_roses = " " %}

{{ csv_egypt_tuber_bulbstubers | csvToArray | log }}


{{ data | log }}




{% set csv_selected = "" %}

{% if data["country"] == "Egypt" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
  {% set csv_selected = csv_egypt_tuber_bulbstubers %}
{% endif %}

{% if data["country"] == "South Africa" and data["format"] == "Fruits or vegetables" and data["host"] == "Vitis vinifera ssp. vinifera" %}
  {% set csv_selected = csv_southAfrica_grapes_fruitAndVegetables %}
{% endif %}


{# Fallback #}
{% if csv_selected == "" %}
  {# {% set csv_selected = csv_southAfrica_grapes_fruitAndVegetables %} #}
{% endif %}

{% set table_data = csv_selected | csvToArray | removeFirstItemFromArray | arrayToGovukTable %}


{{ govukTable({
  classes: "govuk-!-margin-top-6",
  firstCellIsHeader: false,
  head: [
        {  
          text: "Pest"
        },
        {
          text: "Establishment"
        },
        {
          text: "Impact"
        },
        {
          text: "Establishment * Impact"
        },
        {
          text: "Establishment"
        },
        {
          text: "Impact"
        },
        {
          text: "Establishment * Impact"
        }
        ],
  rows: table_data
}) }}


{# {% set fruit = ["Apples", "Oranges", "Pears", "Bananas"] %}
<p class="govuk-body">
  {{ fruit | join(" ") }}  
<p> #}