<!-- Set variable for csv -->
{% set csv_canada_annex = "Regulation Type,Permanent,Internal Detail,GB Detail,NI Detail,Added,Last Reviewed,Next Review,Expired
Prohibition,Yes,Seed potatoes from outside EU & Switzerland,Annex 6A,Annex VI,12/10/2019,,," %}

{% set csv_norway_annex = "Regulation Type,Permanent,Internal Detail,GB Detail,NI Detail,Added,Last Reviewed,Next Review,Expired
,,,,,,,,
,,,,,,,," %}

{% set csv_argentina_annex = "Regulation Type,Permanent,Internal Detail,GB Detail,NI Detail,Added,Last Reviewed,Next Review,Expired
Prohibition,Yes,Seed potatoes from outside EU & Switzerland,Annex 6A,Annex VI,12/10/2019,,,
,,,,,,,," %}

{% set csv_netherlands_annex = "Regulation Type,Permanent,Internal Detail,GB Detail,NI Detail,Added,Last Reviewed,Next Review,Expired
,,,,,,,,
,,,,,,,," %}


{{ csv_canada_annex | csvToArray | log }}

{{ data | log }}




{% set annex_selected = "" %}

{% if data["country"] == "Canada" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
  {% set annex_selected = csv_canada_annex %}
{% endif %}

{% if data["country"] == "Argentina" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
  {% set annex_selected = csv_argentina_annex %}
{% endif %}

{% if data["country"] == "Norway" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
  {% set annex_selected = csv_norway_annex %}
{% endif %}

{% if data["country"] == "Netherlands" and data["format"] == "Cut flowers or branches" and data["host"] == "Dendrombium" %}
  {% set annex_selected = csv_netherlands_annex %}
{% endif %}


{# Fallback #}
{% if csv_selected == "" %}
  {# {% set csv_selected = csv_southAfrica_grapes_fruitAndVegetables %} #}
{% endif %}

{% set source_array_data = annex_selected | csvToArray | removeFirstItemFromArray %}
{% set array_data = [] %}

{% for row in source_array_data %}
  {% set new_row = [] %}
  {% for column in row%}
    {% if loop.index0 == 0 %}
      {% set cell %}
        {# For link #}
        {# <a href='{{ column | kebabCase }}'>{{ column }}</a> #}
        {# As Text only #}
        {{ column }}
      {% endset %}
    {# can add other columns here loop.loopindex4 for example #}
    
    {% else %}
      {% set cell = column %}
    {% endif%}
    {# can add other columns here #}
    
    {% set new_row = new_row | push(cell) %}
  {% endfor %}
  {% set array_data = array_data | push(new_row) %}
{% endfor%}


{% set table_data = array_data | arrayToGovukTable%}



{{ govukTable({
  classes: "govuk-!-margin-top-6",
  firstCellIsHeader: false,
  head: [
        {  
          text: "Regulation Type"
        },
        {
          text: "Permanent"
        },
        {
          text: "Internal Detail"
        },
        {
          text: "GB Detail"
        },
        {
          text: "NI Detail"
        },
        {
          text: "Added"
        },
        {
          text: "Last Reviewed"
        },
        {
          text: "Next Review"
        },
        {
          text: "Expired"
        }
        ],
  rows: table_data
}) }}


{# {% set fruit = ["Apples", "Oranges", "Pears", "Bananas"] %}
<p class="govuk-body">
  {{ fruit | join(" ") }}  
<p> #}