{% if data["country"] == "Egypt" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated risk rating</p>
    <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated risk rating</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/mitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Pathway score</p>
    <p class="card-child-large-text numPestStat">305</p>
  </div>
  <div class="card-child">
    <p class="card-child-smallest-text">Number of pests</p>
    <p class="card-child-smallest-text">Unmitigated score</p>
    <p class="card-child-smallest-text">Mitigated score</p>
    <p class="card-child-smallest-text">Format weighting</p>  
  </div>
</div>
{% endif %}

{% if data["country"] == "South Africa" and data["format"] == "Fruits or vegetables" and data["host"] == "Vitis vinifera ssp. vinifera" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-rating-child greenBackground">
    <p class="card-child-small-text whiteText">Rating</p>
    <p class="card-child-rating-large-text govuk-!-margin-bottom-0">4 - Low</p>

        {% include "includes/risk_rating.html" %}

  </div>
  <div class="card-child">
    <p class="card-child-small-text">Number of pests</p>
    <p class="card-child-large-text numPestStat">38</p>
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated</p>
    <p class="card-child-large-text unmitigateStat">262</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated</p>
    <p class="card-child-large-text mitigateStat">252</p>
    {% include "includes/mitigated.html" %}

  </div>
</div>
{% endif %}

{% if data["country"] == "Norway" and data["format"] == "Cut flowers or branches" and data["host"] == "Abies" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-rating-child greenBackground">
    <p class="card-child-small-text whiteText">Rating</p>
    <p class="card-child-rating-large-text govuk-!-margin-bottom-0">4 - Low</p>
        {% include "includes/risk_rating.html" %}

  </div>
  <div class="card-child">
    <p class="card-child-small-text">Number of pests</p>
    <p class="card-child-large-text numPestStat">13</p>
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated</p>
    <p class="card-child-large-text unmitigateStat">90</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated</p>
    <p class="card-child-large-text mitigateStat">74</p>
    {% include "includes/mitigated.html" %}
  </div>
</div>
{% endif %}

{% if data["country"] == "New Zealand" and data["format"] == "Plants for planting (except seeds, bulbs and tubers)" and data["host"] == "Rosa" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-rating-child amberBackground">
    <p class="card-child-small-text whiteText">Rating</p>
    <p class="card-child-rating-large-text govuk-!-margin-bottom-0">3 - Medium</p>
        {% include "includes/risk_rating.html" %}     
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Number of pests</p>
    <p class="card-child-large-text numPestStat govuk-!-margin-bottom-0">24</p>
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated</p>
    <p class="card-child-large-text unmitigateStat">155</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">144</p>
    {% include "includes/mitigated.html" %}
  </div>
</div>
{% endif %}