{% if data["country"] == "Egypt" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
  <div class="card-parent govuk-!-margin-bottom-6">
      <div class="card-child">
        <p class="card-child-small-text">Number of pests</p>
        <p class="card-child-large-text numPestStat">39</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Unmitigated</p>
        <p class="card-child-large-text unmitigateStat">359</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Mitigated</p>
        <p class="card-child-large-text mitigateStat">305</p>
      </div>
    </div>
  {% set riskRating = "AAA" %}
{% endif %}

{% if data["country"] == "South Africa" and data["format"] == "Fruits or vegetables" and data["host"] == "Vitis vinifera ssp. vinifera" %}
  <div class="card-parent govuk-!-margin-bottom-6">
      <div class="card-child">
        <p class="card-child-small-text">Number of pests</p>
        <p class="card-child-large-text numPestStat">38</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Unmitigated</p>
        <p class="card-child-large-text unmitigateStat">262</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Mitigated</p>
        <p class="card-child-large-text mitigateStat">252</p>
      </div>
    </div>
{% endif %}

{% if data["country"] == "Norway" and data["format"] == "Cut flowers or branches" and data["host"] == "Abies" %}
  <div class="card-parent govuk-!-margin-bottom-6">
      <div class="card-child">
        <p class="card-child-small-text">Number of pests</p>
        <p class="card-child-large-text numPestStat">13</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Unmitigated</p>
        <p class="card-child-large-text unmitigateStat">90</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Mitigated</p>
        <p class="card-child-large-text mitigateStat">74</p>
      </div>
    </div>
{% endif %}

{% if data["country"] == "New Zealand" and data["format"] == "Plants for planting (except seeds, bulbs and tubers)" and data["host"] == "Rosa" %}
  <div class="card-parent govuk-!-margin-bottom-6">
      <div class="card-child">
        <p class="card-child-small-text">Number of pests</p>
        <p class="card-child-large-text numPestStat">24</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Unmitigated</p>
        <p class="card-child-large-text unmitigateStat">155</p>
      </div>
      <div class="card-child">
        <p class="card-child-small-text">Mitigated</p>
        <p class="card-child-large-text mitigateStat">144</p>
      </div>
    </div>
{% endif %}