{% if data["country"] == "Canada" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated risk rating</p>
    <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Very high</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated risk rating</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/mitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Pathway score</p>
    <p class="card-child-large-text numPestStat">818</p>
  </div>
  <div class="card-child">
    <p class="card-child-smallest-text">Number of pests: 49</p>
    <p class="card-child-smallest-text">Unmitigated score: 823</p>
    <p class="card-child-smallest-text">Mitigated score: 818</p>
    <p class="card-child-smallest-text">Format Risk: Very low</p>
  </div>
</div>
{% endif %}

{% if data["country"] == "Norway" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated risk rating</p>
    <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Very high</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated risk rating</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Very high</p>
    {% include "includes/mitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Pathway score</p>
    <p class="card-child-large-text numPestStat">69</p>
  </div>
  <div class="card-child">
    <p class="card-child-smallest-text">Number of pests: 5</p>
    <p class="card-child-smallest-text">Unmitigated score: 85</p>
    <p class="card-child-smallest-text">Mitigated score: 69</p>
    <p class="card-child-smallest-text">Format Risk: Very low</p>
  </div>
</div>
{% endif %}

{% if data["country"] == "Argentina" and data["format"] == "Bulbs and tubers" and data["host"] == "Solanum tuberosum" %}
<div class="card-parent govuk-!-margin-bottom-6">
    <div class="card-child">
      <p class="card-child-small-text">Unmitigated risk rating</p>
      <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Low</p>
      {% include "includes/unmitigated.html" %}
    </div>
    <div class="card-child">
      <p class="card-child-small-text">Mitigated risk rating</p>
      <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Low</p>
      {% include "includes/mitigated.html" %}
    </div>
    <div class="card-child">
      <p class="card-child-small-text">Pathway score</p>
      <p class="card-child-large-text numPestStat">482</p>
    </div>
    <div class="card-child">
      <p class="card-child-smallest-text">Number of pests: 39</p>
      <p class="card-child-smallest-text">Unmitigated score: 531</p>
      <p class="card-child-smallest-text">Mitigated score: 482</p>
      <p class="card-child-smallest-text">Format Risk: Very low</p>
    </div>
</div>
{% endif %}

{% if data["country"] == "Netherlands" and data["format"] == "Cut flowers or branches" and data["host"] == "Dendrombium" %}
<div class="card-parent govuk-!-margin-bottom-6">
    <div class="card-child">
      <p class="card-child-small-text">Unmitigated risk rating</p>
      <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Very low</p>
      {% include "includes/unmitigated.html" %}
    </div>
    <div class="card-child">
      <p class="card-child-small-text">Mitigated risk rating</p>
      <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Very low</p>
      {% include "includes/mitigated.html" %}
    </div>
    <div class="card-child">
      <p class="card-child-small-text">Pathway score</p>
      <p class="card-child-large-text numPestStat">4.25</p>
    </div>
    <div class="card-child">
      <p class="card-child-smallest-text">Number of pests: 2</p>
      <p class="card-child-smallest-text">Unmitigated score: 20</p>
      <p class="card-child-smallest-text">Mitigated score: 17</p>
      <p class="card-child-smallest-text">Format Risk: High</p>
    </div>
</div>
{% endif %}

{% if data["country"] == "Argentina" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated risk rating</p>
    <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated risk rating</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/mitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Pathway score</p>
    <p class="card-child-large-text numPestStat">482</p>
  </div>
  <div class="card-child">
    <p class="card-child-smallest-text">Number of pests: 39</p>
    <p class="card-child-smallest-text">Unmitigated score: 531</p>
    <p class="card-child-smallest-text">Mitigated score: 482</p>
    <p class="card-child-smallest-text">Format Risk: Very low</p>
  </div>
</div>
{% endif %}

{% if data["country"] == "China" and data["format"] == "Firewood" and data["host"] == "Fraxinus" %}
<div class="card-parent govuk-!-margin-bottom-6">
  <div class="card-child">
    <p class="card-child-small-text">Unmitigated risk rating</p>
    <p class="card-child-large-text unmitigateStat govuk-!-margin-bottom-0">Low</p>
    {% include "includes/unmitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Mitigated risk rating</p>
    <p class="card-child-large-text mitigateStat govuk-!-margin-bottom-0">Very low</p>
    {% include "includes/mitigated.html" %}
  </div>
  <div class="card-child">
    <p class="card-child-small-text">Pathway score</p>
    <p class="card-child-large-text numPestStat">482</p>
  </div>
  <div class="card-child">
    <p class="card-child-smallest-text">Number of pests: 18</p>
    <p class="card-child-smallest-text">Unmitigated score: 220</p>
    <p class="card-child-smallest-text">Mitigated score: 200</p>
    <p class="card-child-smallest-text">Format Risk: Low</p>
  </div>
</div>
{% endif %}