<!-- Set variable for csv -->
{% set csv_canada_pinus = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact,,
Arceuthobium americanum,5,3,15,5,3,15,,
Arceuthobium campylopodum,5,3,15,5,3,15,,
Arceuthobium laricis,5,3,15,5,3,15,,
Arceuthobium tsugense,5,5,25,5,5,25,,
Atropellis pinicola,5,3,15,5,3,15,,
Atropellis piniphila,5,4,20,5,4,20,,
Atropellis tingens,5,2,10,5,2,10,,
Bursaphelenchus xylophilus,4,3,12,4,3,12,,
Chionaspis pinifoliae,5,2,10,5,2,10,,
Choristoneura fumiferana,5,5,25,5,5,25,,
Choristoneura lambertiana,5,3,15,5,3,15,,
Choristoneura occidentalis,5,4,20,5,4,20,,
Choristoneura pinus pinus,5,4,20,5,4,20,,
Coleosporium asterum,5,2,10,5,2,10,,
Cronartium coleosporioides,5,3,15,5,3,15,,
Cronartium comandrae,5,3,15,5,3,15,,
Cronartium comptoniae,5,4,20,5,4,20,,
Cronartium harknessii,5,5,25,5,5,25,,
Cronartium quercuum,5,3,15,5,3,15,,
Dendroctonus brevicomis,5,5,25,5,5,25,,
Dendroctonus ponderosae,5,5,25,5,5,25,,
Dendroctonus rufipennis,5,5,25,5,5,25,,
Dendroctonus valens,5,4,20,5,4,20,,
Gnathotrichus sulcatus,5,3,15,5,3,15,,
Grosmannia wageneri,5,5,25,5,5,25,,
Helicotylenchus dihystera,5,3,15,5,3,15,,
Heterobasidion irregulare,5,5,25,5,4,20,,
Ips calligraphus,5,3,15,5,3,15,,
Ips grandicollis,5,4,20,5,4,20,,
Ips paraconfusus,5,5,25,5,5,25,,
Ips pini,5,3,15,5,3,15,,
Ips plastographus,5,2,10,5,2,10,,
Lecanosticta acicola,5,3,15,5,3,15,,
Lygus lineolaris,5,3,15,5,3,15,,
Malacosoma disstria,5,3,15,5,3,15,,
Melampsora medusae,5,3,15,5,3,15,,
Monochamus carolinensis,4,3,12,4,3,12,,
Monochamus maculosus,4,3,12,4,3,12,,
Monochamus notatus,4,3,12,4,3,12,,
Monochamus obtusus,4,3,12,4,3,12,,
Monochamus scutellatus,4,4,16,4,4,16,,
Monochamus titillator,4,3,12,4,3,12,,
Pissodes nemorensis,5,5,25,5,5,25,,
Pissodes strobi,5,5,25,5,5,25,,
Pissodes terminalis,5,3,15,5,3,15,,
Platynota idaeusalis,5,2,10,5,2,10,,
Toumeyella parvicornis,5,3,15,5,3,15,,
Xiphinema bakeri,5,2,10,5,2,10,,
Xiphinema chambersi,5,2,10,5,2,10,," %}

{% set csv_norway_pinus = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact,,
Heterobasidion parviporum,5,4,20,5,4,20,,
Ips duplicatus,5,3,15,4,2,8,,
Ips typographus,5,5,25,4,4,16,,
Leucaspis pini,5,2,10,5,2,10,,
Monochamus urossovii,5,3,15,5,3,15,," %}

{% set csv_china_ash = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact
Acalolepta sejuncta,5,2,10,5,2,10
Agrilus planipennis,5,5,25,5,5,25
Anisandrus maiche,5,2,10,5,2,10
Anoplophora glabripennis,5,4,20,4,3,12
Corythucha ciliata,5,3,15,4,3,12
Endoclita excrescens,5,4,20,5,4,20
Erthesina fullo,5,2,10,5,2,10
Euwallacea fornicatus,2,3,6,2,3,6
Hylesinus cholodkovskyi,5,2,10,5,2,10
Hylesinus eos,5,3,15,5,3,15
Hylesinus laticollis,5,2,10,5,1,5
Monochamus guttulatus,4,1,4,4,1,4
Phenacoccus fraxinus,4,4,16,4,3,12
Rusticoclytus rusticus,5,2,10,5,2,10
Singhiella citrifolii,3,2,6,3,2,6
Trichoferus campestris,4,3,12,4,3,12
Xylosandrus crassiusculus,3,2,6,3,2,6
Xylotrechus grayii,5,3,15,5,3,15" %}

{% set csv_argentina_solanum = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact,,
Andean potato latent virus,4,3,12,4,3,12,,
Aphis spiraecola,4,2,8,4,2,8,,
Atrichonotus taeniatulus,5,3,15,5,3,15,,
Beet curly top virus,5,4,20,5,4,20,,
Colaspis chlorites,5,3,15,5,3,15,,
Diabrotica significata,2,2,4,2,2,4,,
Diabrotica speciosa,2,5,10,2,2,4,,
Elasmopalpus lignosellus,2,1,2,2,1,2,,
Epicauta (Epicauta) atomaria,5,3,15,5,3,15,,
Epicauta (Epicauta) luctifera,5,3,15,5,3,15,,
Epicauta (Epicauta) monachica,5,3,15,5,3,15,,
Epitrix fasciata,5,3,15,5,3,15,,
Globodera ellingtonae,5,2,10,5,2,10,,
Globodera pallida Non-European Strains,5,4,20,5,4,20,,
Helicoverpa armigera,5,2,10,5,2,10,,
Liriomyza huidobrensis,5,3,15,3,3,9,,
Liriomyza sativae,5,5,25,3,3,9,,
Listroderes difficilis,5,3,15,5,3,15,,
Meloidogyne arenaria,5,3,15,5,3,15,,
Meloidogyne chitwoodi,5,4,20,5,4,20,,
Meloidogyne javanica,5,3,15,5,3,15,,
Nacobbus aberrans sensu lato,5,4,20,5,4,20,,
Naupactus cervinus,5,2,10,5,2,10,,
Naupactus leucoloma,5,4,20,4,3,12,,
Naupactus xanthographus,4,3,12,4,3,12,,
Paratrichodorus minor,5,2,10,4,2,8,,
Phenacoccus parvus,3,2,6,3,2,6,,
Phenacoccus solenopsis,5,3,15,4,3,12,,
Potato deforming mosaic virus Argentina,5,3,15,5,3,15,,
Potato leaf roll virus (non-European),5,4,20,5,4,20,,
Potato virus M (non-European strains),5,3,15,5,3,15,,
Potato virus S (non-European strains),5,3,15,5,3,15,,
Potato virus X (non-European strains),5,2,10,5,2,10,,
Potato virus Y (non-European strains),5,3,15,5,3,15,,
Pratylenchus scribneri,4,2,8,4,2,8,,
Rhigopsidius tucumanus,5,3,15,5,3,15,,
Rhopalosiphum rufiabdominale,3,3,9,3,3,9,,
Spodoptera eridania,5,2,10,4,2,8,,
Tetranychus evansi,5,3,15,3,3,9,," %}

{% set csv_netherlands_dendrombium = "Pest,Establishment,Impact,Establishment * Impact,Establishment,Impact,Establishment * Impact,,
Dichromothrips corbetti,5,1,5,5,1,5,,
Phenacoccus solani,5,3,15,4,3,12,," %}

{{ csv_canada_pinus | csvToArray | log }}


{{ data | log }}




{% set csv_selected = "" %}
{% set riskRating = "" %}

{% if data["country"] == "Canada" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
  {% set csv_selected = csv_canada_pinus %}
{% endif %}

{% if data["country"] == "Argentina" and data["format"] == "Bulbs or tubers" and data["host"] == "Solanum tuberosum" %}
  {% set csv_selected = csv_argentina_solanum %}
{% endif %}

{% if data["country"] == "Norway" and data["format"] == "Plants for planting" and data["host"] == "Pinus" %}
  {% set csv_selected = csv_norway_pinus %}
{% endif %}

{% if data["country"] == "Netherlands" and data["format"] == "Cut flowers or branches" and data["host"] == "Dendrombium" %}
  {% set csv_selected = csv_netherlands_dendrombium %}
{% endif %}

{% if data["country"] == "China" and data["format"] == "Firewood" and data["host"] == "Fraxinus" %}
  {% set csv_selected = csv_china_ash %}
{% endif %}


{# Fallback #}
{% if csv_selected == "" %}
  {# {% set csv_selected = csv_southAfrica_grapes_fruitAndVegetables %} #}
{% endif %}

{% set source_array_data = csv_selected | csvToArray | removeFirstItemFromArray %}
{% set array_data = [] %}

{% for row in source_array_data %}
  {% set new_row = [] %}
  {% for column in row%}
    {% if loop.index0 == 0 %}
      {% set cell %}
        <a href='{{ column | kebabCase }}'>{{ column }}</a>
      {% endset %}
    {# can add other columns here loop.loopindex4 for example #}
    
    {% else %}
      {% set cell = column %}
    {% endif%}
    {# can add other columns here #}
    
    {% set new_row = new_row | push(cell) %}
  {% endfor %}
  {% set array_data = array_data | push(new_row) %}
{% endfor%}


{% set table_data = array_data | arrayToGovukTable%}



{{ govukTable({
  classes: "govuk-!-margin-top-6",
  firstCellIsHeader: false,
  head: [
        {  
          text: "Pest"
        },
        {
          text: "Establishment"
        },
        {
          text: "Impact"
        },
        {
          text: "Establishment * Impact"
        },
        {
          text: "Establishment"
        },
        {
          text: "Impact"
        },
        {
          text: "Establishment * Impact"
        }
        ],
  rows: table_data
}) }}


{# {% set fruit = ["Apples", "Oranges", "Pears", "Bananas"] %}
<p class="govuk-body">
  {{ fruit | join(" ") }}  
<p> #}