{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "policy-search"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
    {{ mojPageHeaderActions({
      heading: { 
        
        text: "Pathway import risk rating"
      },
      items: [{
        text: "Search another pathway",
        href: "policy-search",
        classes: 'govuk-button--primary'
      }]
    }) }}
    <h2 class="govuk-heading-m"><span class="govuk-!-font-weight-bold">Import country: {{ data['country'] }} &nbsp; | &nbsp;</span> <span class="govuk-!-font-weight-bold">Host: {{ data['host'] }}&nbsp; | &nbsp;</span><span
      class="govuk-!-font-weight-bold">Format: {{ data['format'] }}</span></h2>
      
      
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Scores',
          href: 'policy-results' 
        }, {
          text: 'Pest List',
          href: 'pest-list'
        }, {
          text: 'Annex details',
          href: 'annex',
          active: true
        }]
      }) }}
  
   
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    

    <div class="govuk-button-group">
      {{ govukButton({
            text: "Search another pathway",
            href: "policy-search"
          }) }}
    </div>

  </div>
</div>

{% endblock %}